html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}body{line-height:1.5}table{border-collapse:separate;border-spacing:0}caption,th,td{text-align:left;font-weight:normal}table,td,th{vertical-align:middle}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:""""}a img{border:none}::-moz-selection{background-color:#a8d1ff;;color: #000;}::selection {background-color:#a8d1ff;color:#000;}.spasi{margin:10px 0;height:10px;width:100%;clear:both;}

body{
width:100%;
height:100%;
overflow:auto;
clear:both;
margin:0;
padding:0;
font-family:"Palatino Linotype",Palatino,"Zapf Calligraphic","Book Antiqua",Georgia,Times,Serif;
font-size:14px;
letter-spacing:0.03em;
vertical-align:top;
background:#eeeeee;
color:#0a0a0a
}
/** Kolom Tengah **/
.utama {
width: 70%;
background-color: #ffffff;
margin: 0 14%;
padding: 20px 10px 0 10px;
border-right: 1px solid #cccccc;
border-left: 1px solid #cccccc;
-moz-box-shadow: 1px 0 20px #dddddd;
-webkit-box-shadow: 1px 0 20px #dddddd;
box-shadow: 1px 0 20px #dddddd;
overflow: hidden;
}
.tengah {
width: 70%;
background-color: #ffffff;
margin: 0 14%;
padding: 20px 10px 0 10px;
overflow: hidden;
}
table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;   
    margin: 20px 0;
}
.zebra td, .zebra th {
    padding: 10px;  
}
 
input, textarea {
    font-size: 0.9em;
    width: 90%;
    border: none;
    background: #eee;
    border-radius: 3px;
    color: #000;
    padding: 7px 10px;
}
textarea {
    height: 120px;
}
select {
    border: none;
    background: #eee;
    border-radius: 3px;
    color: #000;
    padding: 7px 10px;
}
.buttons, .submit {
    float: right;
    margin: 20px 4%;
    border-radius: 5px;
    background: #333;
    color: #fff;
    width: 120px;
    cursor: pointer;
}
.button_div {
margin-right:30px;
}
legend, .req-text, .noinput {
display: none;
}
#rememberme {
float: left;
width: 10px;
}
a, a:link, a:visited {
color: #000;
}

ul {
list-style: none;
width: 100%;
height: 40px;
background: #ddd;
border-radius: 5px;
}
ul li {
float: left;
padding: 0 20px;
}
ul li a {
color: #444;
padding: 5px 10px;
text-decoration: none;
line-height: 2.8em;
border-radius: 5px;
border: solid 0.1px #fff;
}
ul li a:hover {
border-radius: 5px;
padding: 5px 10px;
border: solid 0.1px #eee;
}